:root{font-family:Arial, sans-serif}
body{margin:0;background:#f5f5f5}
#app {
    border: 1px dashed #ccc;
}
#top-panel {
  padding: 10px 0;
}
#grid {
  max-width: 500px;
  margin: 0 auto;
}

.cell {
  position: relative;
}